@font-face {
  font-family: 'pacificoregular';
  src: url(./fonts/pacifico-regular-webfont.woff2) format('woff2'),
       url(./fonts/pacifico-regular-webfont.woff) format('woff'),
       url(./fonts/Pacifico-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url(./fonts/amaticsc-bold-webfont.woff2) format('woff2'),
       url(./fonts/amaticsc-bold-webfont.woff) format('woff'),
       url(./fonts/AmaticSC-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-bottom: 30px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: 'pacificoregular', sans-serif;
  font-size: 1.7em;
  padding: 18px;
}

h1, h2 {
  font-family: 'amatic_scregular', sans-serif;
}

form {
  padding: 20px;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* STAFF */
#list-staff {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.staff-section {
  width: 340px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.member-info {
  padding: 8px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  color: white;
}

.add-staff {
  width: 340px;
  height: 100%;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid;
  border-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-staff i.bi.bi-person-plus-fill::before{
  font-size: 8em;
  margin: 0px;
}

.add-staff p {
  font-size: 1.2em;
}

/* MENU */
#menu-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#preview-image {
  /* max-width: 200px;
  height: auto; */
  max-width: 100%;
  max-height: 100%;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
}