@font-face {
  font-family: 'pacificoregular';
  src: url(../../fonts/pacifico-regular-webfont.woff) format('woff'),
       url(../../fonts/pacifico-regular-webfont.woff2) format('woff2'),
       url(../../fonts/Pacifico-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url(../../fonts/amaticsc-bold-webfont.woff) format('woff'),
       url(../../fonts/amaticsc-bold-webfont.woff2) format('woff2'),
       url(../../fonts/AmaticSC-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-bottom: 30px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: 'pacificoregular', sans-serif;
  font-size: 1.7em;
  padding: 18px;
}

h1 {
  font-family: 'Brush Script MT', 'amatic_scregular', sans-serif;
}

h2 {
  font-family: 'amatic_scregular', sans-serif;
}

th {
  font-family: "amatic_scregular", sans-serif;
  font-size: 25px;
}

form {
  padding: 20px;
  width: 100%;
}

input {
  width: 100%;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* HOME */
#home-dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  transition: transform .2s; /* Animation */
}

#home-dashboard a:hover {
  transform: scale(1.1);
}

#home-dashboard a:nth-child(odd) {
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 20px;
}

#home-dashboard a:nth-child(even) {
  background-color: rgb(235, 235, 235);
  color: rgb(63, 63, 63);
  border-radius: 20px;
}

.home-item {
  width: 250px;
  padding: 20px;
}

.home-item i::before{
  font-size: 9em;
  margin: 10px;
}
/* .add-staff i.bi.bi-person-fill::before{ */
.home-item i.bi.bi-person-fill::before{
  font-size: 10em;
  margin: 0px;
}

/* STAFF */
#list-staff {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.staff-section {
  width: 340px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.member-info {
  padding: 8px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  color: white;
}

.add-staff {
  width: 340px;
  height: 100%;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid;
  background-color: rgb(63, 63, 63);
  border-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .2s; /* Animation */
}

.add-staff i.bi.bi-person-plus-fill::before{
  font-size: 8em;
  margin: 0px;
  color:white;
}

.add-staff:hover {
  transform: scale(1.1);
}

.add-staff p {
  font-size: 1.2em;
  color:white;
}

.add-staff .btn-link:hover, a:hover {
  text-decoration: none;
}

/* MENU */
.category-type-section {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: darkgray;
  background-color: rgba(255, 255, 255, 0.575);
}

#preview-image {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
}

.menu-info {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  color: white;
}

.menu-info a, .menu-info button {
  color:white;
}

/* .select__control.css-yk16xz-control, .basic-multi-select.css-2b097c-container {
  max-width: 600px;
} */

/* MAP */
.position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map-container {
  width: 1080px;
}

#map-image {
  width: 100%;
  height: auto;
}

#map-tables {
  position: relative;
  bottom: 390px;
}

#map {
  display: grid;
  grid-template-columns: repeat(8, 95px);
  grid-auto-rows: 95px;
  gap: 0px;
  margin-bottom: -500px;
}

.map-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-btn {
  width: 43px;
}

#btn-map-save {
  position: relative;
  left: 1055px;
}

/* MODAL / POPUP */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content  {
  border-radius: 20px;
  max-width: 300px;
  min-width: 300px;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-info {
  padding: 20px;
}